:root {
  --color-gray-50: #f0ebeb;
  --color-gray-100: #bdbbbb;
  --color-gray-200: #aaa6a6;
  --color-gray-300: #827c7c;
  --color-gray-400: #595454;
  --color-gray-450: #4d4848;
  --color-gray-500: #353131;
  --color-gray-600: #1e1b1b;

  --color-blue-100: #332dee;
  --color-blue-200: #1b16a1;
}
